<!DOCTYPE html>
<html>
<head>
  <title>Ivan the Terrible's Blog</title>
	<script>
		function reveal(e) {
			var p = e.parentNode;
			var msg = p.getAttribute('data-msg')
			p.innerHTML = msg;
		}
	</script>

	<%= csrf_meta_tags %>
</head>
<body>
	
<%= yield %>

</body>
</html>